<div>
    <h2>Distributors</h2>
    <div class="row data-filter">
        <div>
            <input class="form-control" type="text" placeholder="Code" width="200" [(ngModel)]="code">  
        </div>
        <div>
            <input class="form-control" type="text" placeholder="Name" width="200" [(ngModel)]="name">  
        </div>
        <div>
            <button class="btn btn-primary" (click)="search()">Search</button>
        </div>
        <div>
            <button class="btn btn-outline-primary" (click)="clearAll()">Clear</button>
        </div>
    </div>
    <data-grid 
        [headers]="['Id','Code','Name','Address']"
        [columns]="['id','code','name','address']"
        [column-widths]="[80, 100, 300, 400]"
        [column-alignment]="['center','left','left','left']"
        [pages]="[10,20,50,100]"
        [selected-page-size]="10"
        [current-page]="1"
        (page-changed)="pageChanged($event)"
        >
    </data-grid>
</div>